
body {
    font-family: 'Space Mono', monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.rules{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    margin:20px;
  
}


